<div class="reveal" data-reveal id="guest-meeting-registration-join-<%= model.id %>">
  <div class="reveal__header">
    <h3 id="flagUserModal-label" class="reveal__title"><%= t("title", scope: "decidim.guest_meeting_registration.join_meeting_button") %></h3>
    <button class="close-button" data-close aria-label="<%= t("cancel", scope: "decidim.guest_meeting_registration.join_meeting_button") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="columns row">
    <p><%= t("description_html",
             scope: "decidim.guest_meeting_registration.join_meeting_button",
             login_as_guest: t("login_as_guest", scope: "decidim.guest_meeting_registration.join_meeting_button"),
             i_have_account: t("i_have_account", scope: "decidim.guest_meeting_registration.join_meeting_button")
           ) %></p>

    <div class="columns medium-5">
      <%= action_authorized_button_to(
            :join,
            t("i_have_account", scope: "decidim.guest_meeting_registration.join_meeting_button"),
            "#",
            class: button_classes,
            disabled: !model.has_available_slots?,
            data: { open: "loginModal" }
          ) %>
    </div>
    <div class="columns medium-5">
      <%= link_to(t("login_as_guest", scope: "decidim.guest_meeting_registration.join_meeting_button"), guest_registration_path, class: button_classes, disabled: !has_available_slots? ) %>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <button class="link" data-close><%= t("cancel", scope: "decidim.guest_meeting_registration.join_meeting_button") %></button>
    </div>
  </div>
</div>